@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.desktop-nav{
    max-width: 1040px;
    margin: auto;
    padding: 26px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.nav-items ul{
    list-style: none;
    display: inline-flex;
    gap: 28px;
    justify-content: space-between;
}
.nav-items ul li a{
    color: #11284B;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-decoration: none;
}


.cta{
    width: 120px;
    padding: 9px 24px;
    border-radius: 32px;
    border: 2px solid #11284B;
    text-decoration: none;
    color: var(--Primary, #11284B);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%
}

.button-wrapper a{
    text-decoration: none;
}

.mobile-nav .top-row{
    display: none !important;
    margin: auto;
    padding: 18px 30px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.mobile-nav .bottom-row{
    padding: 14px 0px 38px 0px;
    display: none;
}

.mobile-nav .bottom-row .mobile-button-wrapper{
    padding-left: 30px;
}

.mobile-button-wrapper a .cta{
    width: 100%;
    max-width: 315px;
}
.mobile-button-wrapper a{
    text-decoration: none;
}

.mobile-nav .bottom-row ul{
    list-style: none;
}

.mobile-nav .bottom-row ul li{
    padding-bottom: 36px;
}

.mobile-nav .bottom-row ul li a{
    color: #11284B;
    font-family: "Plus Jakarta Sans";
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
}

.nav-open , .nav-close{
    display: none !important;
}

.nav-open.active , .nav-close.active{
    display: block !important;
}

.about-us-section{
    padding: 19px 0px;
    background-color: #11284B;
    text-align: center;
}

.about-us-section h5{
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    margin:0px;
}

.form-section{
    padding: 80px 30px;
    background-color: #BAD8DE4D;
}

.form-row.one{
    display: flex;
    justify-content: left;
    gap:20px;
    flex-wrap: wrap;
}

form input , form textarea , form select{
    border-radius: 4px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    padding: 8px 12px;
    font-size: 12px;
    margin-top:4px;
    width: 80%;
}

form label{
    color: #515154;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.form-row{
    padding-bottom: 16px;
    max-width: 492px;
}

form{
    padding: 54px;
    background-color: white;
    max-width: 400px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
}

#submit{
    border-radius: 32px;
    background: #00BAD2;
    padding: 9px 24px;
    color: var(--Primary, #11284B);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    max-width: 100px;
    cursor: pointer;
}

.submit-button-container.other-side{
    display: flex;
    justify-content: right;
}

@media only screen and (max-width: 1000px) {
    .desktop-nav{
        display: none !important;
    }
    .mobile-nav .top-row{
        display: flex !important;
    }
  }